@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    font-family: 'VT323', monospace;
    user-select: none;
    box-sizing: border-box;
}
@media screen and (max-width: 1024px) {
    html, body{
        font-size: small;
        overflow: hidden;
        margin: auto;
        width: fit-content;
        text-transform: uppercase;
        display: block;
        padding: 0px;
        height: 100%;
    }
    button{
        text-transform: uppercase;
        font-size: small;
    }
    h1{
        padding: 0px;
        letter-spacing: normal;
    }
    #time{   
        display: none;
        opacity: 0;
    }
    #box-show{
        opacity: 0.7;
       transform: scale(0.8);
    margin: auto 1em;
    display: inline-block;
    
    }
    #aboutmusic{
        opacity: 0;
    }
  
}


body {
    background-image: url(../img/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 710px;
    width: 100%;
    margin: auto;
    transition: .8s;
}


h1 {
    text-align: center;
    letter-spacing: 2px;
    color: #b9f2ff;
    display: block;
    font-size: 45px;
    margin-top: 50px;
    transition: .5s;
    animation: textShadow .5s infinite alternate linear;
}

@keyframes textShadow {
    0% {
        text-shadow: 2px 2px 1px rgb(170, 170, 170);
        
    }

    50% {
        text-shadow: 2px 2px 1px rgb(107, 107, 107);
       
    }

    100% {
        text-shadow: 2px 2px 1px black;
      
    }
}

button{
    display: table;
    margin: 0 auto;
    border: 1px solid black;
    padding: 1em;
    font-size: large;
    background-color: rgba(0, 0, 0, 0.787);
    color: #b9f2ff;
    transition: .5s;
    font-size: 20px;
    cursor: pointer;
    transition: .5s;
}
#info{
    display: none;
    margin: 0 auto;
    border: 1px solid black;
    padding: 1em;
    font-size: large;
    background-color: rgba(0, 0, 0, 0.787);
    color: #b9f2ff;
    transition: .5s;
    font-size: 20px;
    cursor: pointer;
    transition: .5s;
}

button:hover{
    border: 1px solid #b9f2ff;
  
}
#info:hover{
    cursor: default;
}
#time:hover{
    cursor: default;
    border: none;
}

.box {
    position: relative;
    display: block;
}

#box-show {
    padding: 1em;
    color: black;
    background-color: white;
    display: none;
    position: absolute;
    right: 200px;
    font-size: large;
    top: 150px;
}

.box:hover #box-show {
    display: block;
}

#changeBackground {
    position: absolute;
    left: 0px;
    bottom: 0px;
    border: none;
    transition: .5s;
    text-transform: uppercase;
    font-size: larger;
}
#setBackground{
    position: absolute;
    right: 0px;
    top: 0px;
    border: none;
    transition: .5s;
    text-transform: uppercase;
    font-size: larger;
}
#changeBackground:hover{
    text-decoration: underline;
    border: none;
}
#setBackground:hover{
    text-decoration: underline;
    border: none;
}


#counter {
    text-align: center;
    margin: auto;
    
    display: table;
    font-size: 24px;
    padding: 22px;
    color: white;
    animation: change 1s infinite alternate linear;
    background-color: rgba(0, 0, 0, 0.787);
}

@keyframes change {
    0% {
        color: white;
    }

    100% {
        color: #b9f2ff;
    }
}

#time {
    position: absolute;
    right: 0px;
    bottom: 0px;
    border: none;
    display: table;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.787);
    color: #b9f2ff;
    font-size: 24px;
    padding: 1em;
}

#aboutmusic {
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.787);
    color: #b9f2ff;
    font-size: large;
    padding: 1em;
}



#cookie {
    cursor: pointer;
    width: 250px;
    height: 250px;
    display: block;
    margin: 0 auto;
    padding: 2em;
    transition: .5s;
}

#cookie2,
#cookie3,
#cookie4 {
    cursor: pointer;
    width: 250px;
    height: 250px;
    display: none;
    padding: 2em;
    margin: 0 auto;
    transition: .5s;
}

#cookie:hover {
    transform: scale(1.1);
}

#cookie2:hover {
    transform: scale(1.1);
}

#cookie3:hover {
    transform: scale(1.1);
}

#cookie4:hover {
    transform: scale(1.1);
}